ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
body {
  background-color: #e7eff6;
  text-align: center;
  font-family: sans-serif;
}
h1 {
  color: #2a4d69;
  font-size: xx-large;
}
h2 {
  color: #2a4d69;
  font-size: medium;
}
h3{
  color: #2a4d69;
  font-size: small;
}
p {
  color: #2a4d69;
}